<section class="site-section about-section text-center" id="about">
  <header class="section-header">
    <h2>
      About Us
    </h2>
  </header>
  <div class="section-content">
    <h3 class="lead">
      Artistic Ink by Ray Cardillo
    </h3>
    <blockquote cite="{{ site.url }}">
      Ray Cardillo is an aspiring artist and creator that has started focusing on 3D sculpture and tattoo services.
      Stay tuned for more information when services become available.
    </blockquote>
  </div>
</section>